/*
Theme Name: Lantronix
Author: Elevator
Author URI: http://elevatoragency.com/
Description: General presentation handler
Version: 1.0
*/

/* Reference css/main.css for primary styling */

/* Additional CSS styling can be added below this line
   ------------------------------------------------------------------------ */

/* a few temporary overrides [jg] */
h1, h1.main-title {font-size:2.1rem;margin-bottom:0.3em;font-weight:500;}
h2 {font-size:1.7rem;margin-bottom:0.4em;}
h3 {font-size:1.5rem;margin-bottom:0.5em;color:#1daa92;}
h3.tab-header { color:#1daa92; }
h4 {font-size:1.4rem;margin-bottom:0.6em;}
h5 {font-size:1.2rem;margin-bottom:0.7em;color:#1daa92;font-weight:400;}
h6 {font-size:1.1rem;margin-bottom:0.6em;font-weight:400;}
div.entry-content ul li ul, div.entry-content ol li ol {margin-top:0.2em;}

.product-titles h2.main-subtitle { font-size:170%;margin-top:.3em; }
div.headline-intro { font-size:1.05em;color:#333;text-align:justify;margin-top:0.7em;padding:.8em;background-color:#efefef;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; }

/* div.widget.subnav .widget-list li > ul a {font-weight:400;} */

::-moz-selection { background: #104163; }
::selection { background: #104163; }

